{% load static %}

<div class="container-fluid  " id="log-in-block" style="height: 400px; background-color: lightcyan;">
    <div class="row ">
      <div class="col align-iem-center mt-5 ms-3 me-5">
        <h1>
            Search for Jobs you are interested in
        </h1>
      </div>
      <div class="col mt-5 ms-3 ">
          <h2 class = "mb-5"> Jobs by Title</h2> 
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Data Scientist</a>
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Design Engineer</a>
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Data Architect</a>
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Cyber Analytics</a>
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Cloud Specialist</a>
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Database Architect</a>
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Application Developer: Java</a>
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Software Developer</a>
          <a href="#" class="btn rounded-pill btn-sm me-2 mb-4 text-white" style="background-color:lightseagreen;" tabindex="-1" role="button" aria-disabled="true">Full Stack Developer</a>
          <div class="dropdown">
            <button class="btn  btn-md rounded-pill dropdown-toggle" style="background-color:lightseagreen;"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Other Jobs
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Research Analyst</a></li>
              <li><a class="dropdown-item" href="#">Software Architect</a></li>
              <li><a class="dropdown-item" href="#">Solution Architect</a></li>
            </ul>
          </div>
      </div>

    </div>
  </div>