{% load static %}

<div class="container-fluid" id="log-in-block" style="height: 300px; background-color:white;">
    <div class="row">
      <div class="col align-self-start ms-3 me-5">
        <h1>
            Post a Job opportunity of Stem Women?
        </h1>
      </div>
      <div class="col text-center">
          <p> Suggested Jobs </p>
          <a href="#" class="btn btn-primary rounded-pill btn-lg" tabindex="-1" role="button" aria-disabled="true">Engineering</a>          
      </div>

    </div>
  </div>